*{

    /*background-color: black;*/
}
body{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-image: url('assets/props/bgsite.png');
}

h1, p{
  color: white;
  font-family: 'Copse', serif;
}
p{
  font-size: 10px;
}
a{
  text-decoration: none;
}
a.visted{
  color: pink;
}
a{
  color: pink;
  text-decoration: bold;
}
