*{
  color: white;
  /*background-color: black;*/
  font-family: 'Copse', serif;
}
body{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-image: url('assets/props/bgsite.png');
}
h1{
font-size: 40px;
}
